article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary { display: block; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

.global-header { position: absolute; width: 100%; z-index: 998;}

.global-ttl { position: fixed; top: 5%; top: 3vw; left: 5%; left: 4vw;}

.global-ttl a { display: inline-block; color: black; text-decoration: none;}

.global-ttl__text { display: block; font-size: 9px; font-weight: 400; letter-spacing: .08em; margin-bottom: 5px; z-index: 999;}

.global-ttl__url { display: block; font-size: 11px; font-weight: 400 !important; letter-spacing: .05em; -webkit-font-smoothing: subpixel-antialiased; letter-spacing: .2em; z-index: 1000;}

* {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.menu-toggle { position: fixed; top: 5%; top: 2.5vw; right: 5%; right: 4vw; cursor: pointer; width: 50px; height: 50px; text-align: center; opacity: 1; z-index: 900; }

.global-menu { display: none; position: fixed; text-align: left; z-index: 999; width: 11%; height: 100%; right: 0;}

.global-menu__container {padding: 2rem 0;}

.global-menu__container ul {padding: 0;}

.global-menu__list li {margin: 0 0 7rem 0; list-style: none; text-align: center;}

.global-menu__list a {text-decoration: none;}

.global-menu span {font-size: 14px; font-weight: 500; letter-spacing: .2em; color: rgb(44, 44, 44); }

.page-header { position: relative; text-align: center; padding-right: 10%; padding-left: 10%; margin: 10% auto 50px; font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; font-weight: 300; font-size: 1.5rem; letter-spacing: 0.5em; text-indent: .25em;}

.works-list { max-width: none; margin: 0 auto 50px; text-align: center; z-index: 4;}

.works-unit-box {display: inline-block; margin: 3rem 2rem; }

.works-unit { padding: 0 4% 2%; text-align: center; overflow: hidden; box-sizing: border-box; -webkit-box-sizing: border-box; }

.works-unit__scr { position: relative; z-index: 4;}

.works-unit__scr img { padding: 5px; width: 300px; height: 180px; object-fit: cover; vertical-align: bottom; box-shadow: 0 1px 6px -2px rgba(63, 63, 63, 0.2); z-index: 4;}

.works-unit__caption { display: block; text-align: center; font-size: 12px; line-height: 20px; margin: 10px 0; color: #646460; text-transform: uppercase; font-family: 'Abel', sans-serif; font-weight: 400 !important; letter-spacing: .05em; -webkit-font-smoothing: subpixel-antialiased; letter-spacing: .12em; box-sizing: border-box; -webkit-box-sizing: border-box; }

#back{ display:none; background:rgba(0, 0, 0, 0.5); position:absolute; left:0px; top:0px;}

.works-img { display:none;}

.sns-icon {text-align: center; margin: 12rem 0 7.5rem;}

.sns-icon img {width: 250px; height: auto;}

.icon-list { width: 100%; height: 500px; text-align: center; padding-top: 3rem; padding-right: 25px;}

.icon-content {display: inline; text-align: center;}

.icon-content_img {width: 130px; height: auto; margin: 5rem;}

.icon-content a {text-decoration: none;}

.icon-text{ text-align: center; padding-right: 25px; bottom: 0;}

.iconpr {position: relative; color: #FFF; opacity:0%; font-size: 22px; letter-spacing: .5rem; font-weight: 600; padding: 1rem 3rem;}

.iconwo {position: relative; color: #FFF; opacity:0%; font-size: 22px; letter-spacing: .5rem; font-weight: 600; padding: 1rem 3rem;}

.iconhe {position: relative; color: #FFF; opacity:0%; font-size: 22px; letter-spacing: .5rem; font-weight: 600; padding: 1rem 3rem;}

.profile-box {margin:8.5vw 30vw;}

.profile-content { display: inline-block; }

.profile-img img {display: inline-block; position: relative; width: 200px; height: auto; float: left; margin-right: 4vw;}

.profile-content p {margin: 2vw; color: rgb(39, 39, 39);}

.name-ja {font-size: 20px; font-weight: 400; letter-spacing: .08em; margin-right: .7rem;}

.name-en {font-size: 11px; letter-spacing: .08em;}

.read {font-size: 13px;}

.footer-icon { position: absolute; left: 0; width: 50px; height: auto; padding: 2rem 3rem;}

.top-footer {position: absolute; width: 100%; height: 80px; bottom: 0; right: 0;}

body { animation: fadeIn 2s ease 0s 1 normal; -webkit-animation: fadeIn 2s ease 0s 1 normal; background-color: #fff;}

.slideR { z-index: 1000; cursor: pointer; position: fixed; top: 0; right: -90px; border-left: gray solid 1px; height: 100%; width: 140px; color: #fff; font-size: 16px;}

.slideR img {position: relative; display: block; width: 25px; height: auto; top: 3.2vw; left: 12.5px;}

.slideR ul {display: inline-block; position: relative; left: 20px; top: 5vw;}

.slideR li { list-style: none; margin: 5rem 0; text-align: right;}

.slideR a { text-decoration: none; color: rgb(46, 46, 46); left: 80px; font-size: 12px; font-weight: 400 !important; letter-spacing: .05em; -webkit-font-smoothing: subpixel-antialiased; letter-spacing: .2em;}

@keyframes fadeIn { 0% {opacity: 0} 100% {opacity: 1}}

@-webkit-keyframes fadeIn { 0% {opacity: 0} 100% {opacity: 1}}